/*@media only screen and (max-width: 600px) {*/
body{
    font-size: 30px;
    margin: 10px;
}

button{
    font-size: 30px;
}

.hidden {
    display: none;
}

.flex-container{
    margin: 20px;
    display:flex;
    flex-direction: row;
    justify-content: left;
}

#output h2{
    text-align: center;
    border-bottom: 1px solid gray;
}
/*}*/
