.invisible{
    display: none;
}

ul#recipeList li{
    list-style-type: none;
    border-bottom: 1px solid grey;
    margin: 5px;
    padding: 5px;
}
ul#quakeList li:hover{
    cursor: pointer;
    background-color: yellowgreen;
}

ul#quakeList li:hover li{
    background-color: white;
    cursor: auto;
}

img{
    max-width: 300px;
}

div#button{
    margin: 10px 10px;
}

button {
    margin: 10px;
}

h1{
    text-align: center;
}