@media only screen and (max-width: 350px) {
    body {
      background-color: lightgreen;
    }
    
    .mealThumb{
        display:none;
    }
  }

.invisible{
    display: none;
}

ul#recipeList li{
    list-style-type: none;
    border-bottom: 1px solid grey;
    margin: 5px;
    padding: 5px;
}


img{
    max-width: 300px;
}

div#button{
    margin: 10px 10px;
}

h1{
    text-align: center;
}

#canvas{
    max-width: 600px;
    max-height: 300px;
}

.error{
    color: red;
    font-size: 25px;
}

@keyframes text-animation {
    from{
    color: orange;
    font-size: 36px;
    transform: translateX(-50px);
    }
    to {
    color: green;
    font-size: 56px;
    transform: translateX(100px);
    }
   }
   
h3 {
    font-size: 36px;
    color: orange;
    animation: 2s infinite 50ms text-animation;
    animation-play-state: paused;
   }
   h3:hover {
    animation-play-state: running;
   }

   .highlight{
       background-color:lightcyan;
   }

   #recipeList h3, img{
       cursor: pointer;
   }

   #recipeList #detailsList img{
       cursor: default;
   }

   button{
       width: 100px;
       height: 30px;
       cursor: pointer;
       margin: 10px;
   }

