h1 {
    text-align: center;
    transform: skew(15deg, 4deg);
}

h2:hover span {
    color: #484848;
    transform: rotate(45deg) translateX(100px) scale(3);
   }

  /* Transforms don’t work on inline elements. But that’s easy enough to fix. We’ll just
add display: inline-block; to our span*/

   h2 span {
    font-size: 30px;
    color: #999999;
    display: inline-block;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform, color;
    transition-duration: 2s, 3s;
    transition-timing-function: ease-out, linear;
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
   }

   /* Or a shorthand declaration */

   /*h2 span {
    font-size: 30px;
    color: #999999;
    display: inline-block;
    transition: transform 2s ease-out 50ms;
    /* Or a shorthand declaration for multiple transitions*/
    /*transition: transform 0.2s ease-out 50ms, color 0.1s linear 50ms;*/
    /* Or a shorthand declaration for multiple transitions with all keyword*/
    /*transition: all 0.2s ease-out 50ms;*/
   /*}*/

   
    /* ANIMATIONS */
    @keyframes bike {
        0% {
        background-position: 0 0;
        }
        100% {
        background-position: -360px 0;
        }
       }

       @keyframes move {
        0% {
        transform: translateX(-100px);
        }
        100% {
        transform: translateX(100px);
        }
       }

    h3:after {
        content: '';
        width: 90px;
        height: 92px;
        background-image: url(images/bike_sprite.png);
        display: block;
        margin: auto;
        animation:
            0.4s steps(4, end) infinite 50ms bike,
            8s linear infinite 50ms move;
            animation-play-state: paused;
       }
       h3:hover:after {
        animation-play-state: running;
       }

       
       
       
   